pin-depends: [
  # PRs merged for bigarray-compat but no release
  [ "multipart_form.0.4.0" "git+https://github.com/dinosaure/multipart_form#943d9afcb67cb5960c3f063626085ec2c4584789" ]
  [ "multipart_form-lwt.0.4.0" "git+https://github.com/dinosaure/multipart_form#943d9afcb67cb5960c3f063626085ec2c4584789" ]
  # Domains support
  [ "js_of_ocaml.4.0.0" "git+https://github.com/patricoferris/js_of_ocaml#9d8fc512ca182da594320b08570e20fc1815e137" ]
  [ "js_of_ocaml-compiler.4.0.0" "git+https://github.com/patricoferris/js_of_ocaml#9d8fc512ca182da594320b08570e20fc1815e137" ]
  [ "js_of_ocaml-lwt.4.0.0" "git+https://github.com/patricoferris/js_of_ocaml#9d8fc512ca182da594320b08570e20fc1815e137" ]
  [ "js_of_ocaml-ppx.4.0.0" "git+https://github.com/patricoferris/js_of_ocaml#9d8fc512ca182da594320b08570e20fc1815e137" ]
  [ "js_of_ocaml-toplevel.4.0.0" "git+https://github.com/patricoferris/js_of_ocaml#9d8fc512ca182da594320b08570e20fc1815e137" ]
]