name: CI

on:
  pull_request:
  push:
  schedule:
    # Prime the caches every Monday
    - cron: 0 1 * * MON
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
        with:
          submodules: 'recursive'
      - name: Use OCaml 5.0.0+trunk
        uses: ocaml/setup-ocaml@v2
        with:
          ocaml-compiler: ocaml-variants.5.0.0+trunk
          opam-repositories: |
            alpha: https://github.com/kit-ty-kate/opam-alpha-repository.git
            default: https://github.com/ocaml/opam-repository.git
          opam-depext: false
      - run: opam pin . -yn
      - run: opam install . --deps-only --with-test
      - run: opam install ocplib-endian conduit base64 -y
      - run: opam exec -- dune build